.loader {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
	width:20px;
	height: 20px;
	border-radius: 50%;
	margin: 5px;
}

#circle-1{
	background-color: #1F2254;
	animation: rotation 5s linear infinite;
}
#circle-2{
	background-color: #1F2254;
	animation: rotation 4s linear infinite;
}
#circle-3{
	background-color: #1F2254;
	animation: rotation 3s linear infinite;
}

@keyframes rotation {
from { 
transform: rotate(0deg) translateX(50px) ; }
    to   {
transform: rotate(360deg) translateX(50px) ; }
}