.header {
    width: 100%;
    height: 95px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.header__logo {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.header__logo::before,
.header__logo::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.header__logo::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #00768C;
}

.header__logo:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.header__logo:hover::after {
  transform: translate3d(0, 0, 0);
}

.header__logo span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.header__logo:hover span {
  transform: translate3d(-200%, 0, 0);
}

.header__account {
  color: #fff;
}
